@import '../../style/default';
.ant-table {
  &-thead > tr > th,
  &-tbody > tr > td {
    padding: 14px 6px;
    text-align: center;
  }
  .ant-table-selection-column {
    min-width: 42px !important;
    width: 42px !important;
  }

  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  &.ant-table-middle {
    &-thead > tr > th,
    &-tbody > tr > td {
      padding: 10px 6px;
    }
  }
  &.ant-table-small {
    &-thead > tr > th,
    &-tbody > tr > td {
      padding: 8px 6px;
    }
  }
}
.ant-table-pagination {
  padding: 0 20px;
}
