@import './../../style/default.less';
.header {
  background-color: @colorM;
  .header-top {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
    .logo {
      line-height: 60px;
      text-align: left;
      font-size: 18px;
      img {
        height: 40px;
        vertical-align: middle;
      }
      span {
        margin-left: 5px;
      }
    }
    a {
      margin-left: 40px;
    }
  }
    .breadcrumb {
      height: 40px;
      padding: 0 20px;
      border-top: 1px solid #f9c700;
      line-height: 40px;
      .breadcrumb-title {
        text-align: center;
        font-size: @fontC;
        &:after {
          content: '';
          position: absolute;
          top:39px;
          left:73px;
          border-top: 9px solid @colorM;
          border-right: 12px solid transparent;
          border-left: 12px solid transparent;
        }
      }
      .weather {
        text-align: right;
        font-size: 14px;
        .date {
          margin-right: 10px;
          vertical-align: middle;
        }
        .weather-img {
          img {
            height: 15px;
          }
        }
        .weather-detail {
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }
}
.simple-page {
  .header-top {
    background: #1890ff;
    color: @colorM;
  }
}