@import './default.less';
@import './loading.less';
ul,
li {
    list-style: none;
}
.clearfix {
  &::after {
    content:' ';
    display: block;
    clear: both;
    visibility: hidden;
  }
}
.container {
  display: flex;
  .nav-left {
    width: 14.4%;
    min-width: 180px;
    height: calc(100vh);
    background-color: #001529;
    color: #fff;
  }
  .main {
    overflow: auto;
    flex:1;
    height: calc(100vh);
    background-color: @colorL;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}

.content-wrap {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
  .ant-table-wrapper {
    margin-left: -1px;
    margin-right: -2px;
    }
}
.ant-card {
  button{
    margin-right: 10px;
  }
}