/** load **/
.ajax-loading {
  display: none;
  .loading {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80px;
    padding:0 40px;
    border-radius: 6px;
    line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    color:#fff;
    font-size: @fontD;
    transform: translate(-50%,-50%);
    img {
      width: 32px;
      vertical-align: middle;
    }
    span {
      margin-left: 12px;
    }
  }
  .overlay {
    z-index: 9998;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
    opacity: 0.1;
  }
}
  
  /****/